/*
 * General
*/

@import url('https://fonts.googleapis.com/css?family=Oswald|Open+Sans');

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	line-height: 1.4;	/* important for good lecture, please DO NOT CHANGE */
	color: #fff;
	}

body {
	background-color: #1B2029;
	background-image: -webkit-linear-gradient(rgba(27,32,41,.8), rgba(27,32,41,.8)), url("../img/bg.jpg");
	background-image: linear-gradient(rgba(27,32,41,.8), rgba(27,32,41,.8)), url("../img/bg.jpg");
	background-size: cover;
	}

a {
	font-weight: bold;
	color: #4072A1; /* blue */
	transition: color .3s cubic-bezier(0,0,0,1);
	}

a:hover,
a:focus {
	color: #626495; /* violet */
	transition: color .3s cubic-bezier(0,0,0,1);
	}

a:active,
a.active,
a.visited {
color: #01AA78; /* green */
	transition: color .3s cubic-bezier(0,0,0,1);
	}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 3vmin;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	}

h1 { font-size: 200%; }
h2 { font-size: 150%; }
h3 { font-size: 125%; }
h4 { font-size: 115%; }
h5 { font-size: 100%; }
h6 { font-size: 90%; }

p,
blockquote {
	display: block;
	padding: 0;
	margin: 0 0 3vmin 0;
	}

p:last-child {
	margin-bottom: 0 !important;	/* good stuff, trust me! please DO NOT CHANGE */
	}

.op3 { opacity: .3; }
.op5 { opacity: .5; }

input[type='text'],
input[type='search'] {
	padding: 1vmin 3vmin;
	text-align: center;
	background-color: #fff;
	border: 2px solid rgba(0,0,0,.2);
	border-radius: 0.5vmin;
	transition: all .3s cubic-bezier(0,0,0,1);
	}

input[type='text'] {
	width: 100%;
	}

input:hover {
	border-color: #626495; /* violet */
	transition: all .3s cubic-bezier(0,0,0,1);
	}

input:focus {
	border-color: #01AA78; /* green */
	-ms-transform: matrix(1, 0, 0, 1, 0, -2);
	-webkit-transform: matrix(1, 0, 0, 1, 0, -2);
	transform: matrix(1, 0, 0, 1, 0, -2);
	box-shadow: rgba(51,51,94,.1) 0 15px 35px 0, rgba(0,0,0,.1) 0 5px 15px 0;
	transition: all .3s cubic-bezier(0,0,0,1);
	}

button,
.btn {
	overflow: hidden;
	position: relative;
	padding: 1vmin 3vmin;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #fff;
	border-radius: 0.5vmin;
	border: none;
	background-color: #4072A1; /* blue */
	box-shadow: rgba(51,51,94,.1) 0 3px 6px 0, rgba(0,0,9,.15) 0 2px 2px 0;
	transition: all .3s cubic-bezier(0,0,0,1);
	}

button:hover,
.btn:hover {
	color: #fff;
	background-color: #626495; /* violet */
	box-shadow: rgba(51,51,94,.1) 0 15px 35px 0, rgba(0,0,0,.1) 0 5px 15px 0;
	-ms-transform: matrix(1,0,0,1,0,-2);
	-webkit-transform: matrix(1,0,0,1,0,-2);
	transform: matrix(1,0,0,1,0,-2);
	transition: all .3s cubic-bezier(0,0,0,1);
	}

button:active,
.btn:active {
	color: #fff;
	background-color: #01AA78; /* green */
	transition: all .5s cubic-bezier(0,0,0,1);
	}

button::after,
.btn::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 0;
	top: 50%;
	left: 50%;
	background-color: rgba(255,255,255,.1);
	-ms-transform: translate(-50%,-50%) rotate(135deg);
	-webkit-transform: translate(-50%,-50%) rotate(135deg);
	transform: translate(-50%,-50%) rotate(135deg);
	}

button:hover::after,
.btn:hover::after {
	height: 300%;
        opacity: 1;
	transition: all .3s ease-in-out;
	}



/*
 * Header
*/

body > header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	min-height: 72px;
	height: 10vmin;
	padding: 2vmin 18vmin;
	}



/*
 * Logo
*/

h1 {
	height: 100%;
	margin: 0;
	padding: 0 6vmin 0 0 !important;
	border-style: solid;
	border-width: 0 2px 0 0;
	border-image: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%);
	border-image: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%);
	border-image-slice: 1;
	}

h1 a,
h1 a img {
	height: 100%;
	}

h1 a:hover {
	animation: moon 1s infinite;
	animation-timing-function: cubic-bezier(.7,1.3,1.3,-0.3);
	}

@keyframes moon {
	0% { filter: hue-rotate(0deg); }
	100% { filter: hue-rotate(360deg); }
	}



/*
 * Ticker
*/

body > header aside {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 6vmin;
	padding-top: 0.5vmin;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	font-size: 75%;
	letter-spacing: 1px;
	}

.price_up,
.highlight-green {
	color: #01AA78; /* green */
	}

.price_down,
.highlight-red {
	color: #ED6A5E; /* red */
	}



/*
 * nav
*/

body > header nav {
	display: flex;
	align-items: center;
	margin-left: auto;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	text-transform: uppercase;
	}

body > header nav > a {
	margin-left: 3vmin;
	color: #fff;
	}

.lang {
	display: block;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	text-transform: uppercase;
	}

.lang > li {
	position: relative;
	opacity: .3;
	float: right;
	right: 1.5vmin;
	width: 6vmin;
	height: 6vmin;
	min-width: 32px;
	min-height: 32px;
	padding: 1.5vmin;
	}

.lang svg {
	display: block;
	
	}

.lang > li:hover  {
	opacity: 1;
	cursor: s-resize;
	background-color: #4072A1; /* blue */
	border-top-left-radius: 0.5vmin;
	border-top-right-radius: 0.5vmin;
	}

.lang ul {
	overflow: hidden;
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	-ms-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	text-align: right;
	background-color: #4072A1; /* blue */
	border-top-left-radius: 0.5vmin;
	border-bottom-left-radius: 0.5vmin;
	border-bottom-right-radius: 0.5vmin;
	}

.lang li:hover ul {
	display: block;
	}

.lang a {
	display: block;
	padding: 0.5vmin 1vmin;
	color: #fff;
	}

.lang a:hover {
	color: #fff;
	background-color: #626495; /* violet */
	transition: background-color .3s cubic-bezier(0,0,0,1);
	}

.lang svg {
	fill: currentColor;
	}



/*
 * Sections
*/

main > section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	}

main > section:not(#welcome) {
	display: none;
	position: absolute;
	top: 0;
	left: 18vmin;
	right: 18vmin;
	padding: 12vmin 24vmin;
	color: #444;
	background-color: rgb(228,231,235);
	border-radius: 0.5vmin;
	box-shadow: rgba(51,51,94,0.1) 0 15px 35px 0, rgba(0,0,9,0.15) 0 5px 15px 0;

	animation-fill-mode: both;
	animation-duration: 1s;
	animation-name: earth;
	}

main > section:not(#welcome):target {
	z-index: 1;
	display: block;
	animation-name: earth;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: cubic-bezier(0,0,0,1);
	}

@keyframes earth {
	0% { opacity: 0; }
	30% { opacity: 1; }
	100% { opacity: 1; transform: translate3d(0,10vmin,0); }
	}

main > section:not(#welcome):target::after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	right: 0;
	bottom: -18vmin;
	height: 18vmin;
	}

main > section > .close {
	position: absolute;
	top: 6vmin;
	right: 6vmin;
	min-width: 16px;
	min-height: 16px;
	width: 3vmin;
	height: 3vmin;
	}

main > section > .close svg {
	fill: currentColor;
	}

main > section h2 {
	text-align: center;
	}

main > section h2:not(:first-child) {
	margin-top: 12vmin;
	}



/*
 * Welcome
*/

#welcome {
	min-height: 100vh;
	align-items: center;
	text-align: center;
	}

#welcome h3,
#welcome mark {
	margin: 6vmin 0 0 0;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	font-size: 125%;
	text-transform: uppercase;
	}

#welcome #accounts-contributing,
#welcome #total-votes {
	color: #01AA78; /* green */
	}

#welcome .btn {
	margin-top: 6vmin;
	}

.addr {
	-ms-word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	text-transform: uppercase;
	font-size: 125%;
	}

.addr .qrCode {
	margin: 6vmin auto 3vmin;
	box-shadow: rgba(51,51,94,0.1) 0px 6px 12px 0px;
	}

.addr a span {
	padding-right: 5vmin;
	background: url('data:image/svg+xml;utf8,<svg style="fill:#4072A1" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"></path></svg>') 100% 0 no-repeat;
	}

.addr a:hover:not(.visited) span {
	background-image: url('data:image/svg+xml;utf8,<svg style="fill:#626495" viewBox="0 0 448 512" xmlns="http://www.w3.org/2000/svg"><path d="M320 448v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V120c0-13.255 10.745-24 24-24h72v296c0 30.879 25.121 56 56 56h168zm0-344V0H152c-13.255 0-24 10.745-24 24v368c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24V128H344c-13.2 0-24-10.8-24-24zm120.971-31.029L375.029 7.029A24 24 0 0 0 358.059 0H352v96h96v-6.059a24 24 0 0 0-7.029-16.97z"></path></svg>');
	}

.addr .visited span {
	background-image: url('data:image/svg+xml;utf8,<svg style="fill:#01AA78" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"><path d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"></path></svg>');
	}



/*
 * Join
*/

#join h2 {
	margin-bottom: 6vmin;
	}

#join .join-tab {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -24vmin;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 2px solid rgba(0,0,9,0.05);
	}

#join .join-tab a {
	margin: 0 1vmin;
	padding: 1vmin 3vmin;
	background-color: rgba(0,0,9,0.05);
	border-top-left-radius: 0.5vmin;
	border-top-right-radius: 0.5vmin;
	border-top: 2px solid transparent;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;

	transition: background-color .3s cubic-bezier(0,0,0,1);
	}

#join .join-tab a:hover:not(.active) {
	background-color: #626495; /* violet */
	color: #fff;
	transition: background-color .3s cubic-bezier(0,0,0,1);
	}

#join .join-tab a:active:not(.active) {
	background-color: #01AA78; /* green */
	transition: background-color .3s cubic-bezier(0,0,0,1);
	}

#join .join-tab a.active {
	background-color: transparent;
	color: #01AA78; /* green */
	border-color: rgba(0,0,9,0.05);
	box-shadow: rgb(228,231,235) 0 4px 0 -2px;		/* same as section */
	}

#join .join-content {
	display: flex;
	flex-wrap: wrap;
	padding-top: 6vmin;
	}

#join .join-content > div,
#join #cast > div {
	display: none;
	}

#join .join-content .active {
	display: block !important;
	}

#join #wallet div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	}

#join #wallet a {
	min-width: 24vmin;
	width: 25%;
	margin: 1.5vmin;
	padding: 1.5vmin;
	font-size: 75%;
	text-align: center;
	background-color: #fff;
	border-radius: 0.5vmin;
	box-shadow: rgba(51,51,94,0.1) 0 6px 12px 0;

	box-shadow: rgba(0,0,0,0.06) 0px 2px 4px 0px, rgba(0,0,0,0.04) 0px 2px 24px 9px;

	transition: box-shadow .3s cubic-bezier(0,0,0,1);
	}

#join #wallet a:hover {
	box-shadow: rgba(51,51,94,0.1) 0 15px 35px 0, rgba(0,0,9,0.15) 0 5px 15px 0;
	transition: box-shadow .3s cubic-bezier(0,0,0,1);
	}

#join #wallet a img {
	display: block;
	width: 6vmin;
	height: 6vmin;
	margin: 0 auto 1.5vmin;
	}

#join ol {
	padding-left: 3vmin;
	list-style-position: outside;
	list-style-type: decimal;
	}

#join ol li:not(:last-child) {
	margin-bottom: 6vmin;
	}

#join li img {
	margin-top: 3vmin;
	}

#confirm {
	width: 100% !important;
	}

#confirm button {
	display: block;
	margin: 3vmin auto 0;
	}

main section:not(#welcome):not(#join) .addr {
	margin-top: 3vmin;
	margin-bottom: 6vmin;
	}



/*
 * FAQ
*/

.calculator small {
	display: block;
	margin: 1vmin 0 0;
	text-align: center;
	color: rgba(0,0,0,0.3);
	}

.calculator span {
	display: block;
	margin: 1.5vmin 0 0;
	font-family: 'Oswald', 'Arial Narrow', 'Arial Nova Cond', sans-serif;
	font-size: 125%;
	color: #626495; /* violet */
	font-weight: normal;
	text-transform: uppercase;
	text-align: center;
	}

.calculator span strong {
	color: #01AA78; /* green */
	}



/*
 * PAYMENTS
*/

#payments {
	padding-left: 6vmin !important;
	padding-right: 6vmin !important;
	padding-bottom: 6vmin !important;
	}

#payments #pool_filter {
	position: relative;
	margin-bottom: 6vmin;
	text-align: center;
	}

#payments #pool_filter input {
	position: absolute;
	left: 50%;
	top: 0;
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	}

table {
	overflow: hidden !important;			/* do NOT change this */
	width: 100% !important;
	box-shadow: 0 0 0 2px rgba(0,0,9,0.15);
	border-radius: 0.5vmin;
	table-layout: fixed;
	-ms-word-break: break-all;
	word-break: break-word;
	word-wrap: break-word;
	}

table th,
table td {
	padding: 1vmin;

	}

table th {
	cursor: pointer;
	font-weight: 600;
	text-align: left;
	background-color: rgba(0,0,9,0.15);
	}

table tr:nth-of-type(even) {
	background-color: rgba(0,0,9,0.05);
	}

table tr.sorting_desc {
	background-color: rgba(143,150,160,0.95);
	color: #000;
	}

table .result {
	display: block;
	margin: 0 auto;
	min-width: 16px;
	min-height: 16px;
	width: 3vmin;
	height: 3vmin;
	}



/*
 * ABOUT
*/

main #about .addr {
	text-align: center;
	}



/*
 * Footer
*/

body > footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	}

body > footer > div {
	display: flex;
	flex-direction: row;
	margin: 1.5vmin 0;
	}

body > footer div:nth-child(1) a {
	min-width: 32px;
	min-height: 32px;
	width: 4vmin;
	height: 4vmin;
	margin: 0 1.5vmin;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: filter .3s cubic-bezier(0,0,0,1);
	}

body > footer div:nth-child(1) a:hover {
	-webkit-filter: initial;
	filter: initial;
	}

body > footer div:nth-child(1) a img {
	width: 100%;
	height: 100%;
	}

body > footer > div:nth-child(2) {
	padding: 1.5vmin 0 3vmin;
	font-size: 75%;
	border-style: solid;
	border-width: 2px 0 0 0;
	border-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%);
	border-image: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.1) 50%, rgba(255,255,255,0) 100%);
	border-image-slice: 1;
	}

body > footer > div:nth-child(2) * {
	margin: 0 1.5vmin;
	}
