@media
only screen and (max-width: 1024px),
only screen and (max-device-width: 1024px) {

	h1 a img {
		content: url('../img/logo.svg');
		}

	main > section:not(#welcome):target {
		left: 9vmin;
		right: 9vmin;
		padding: 12vmin 9vmin;
		}
}

@media
only screen and (max-width: 920px),
only screen and (max-device-width: 920px) {
	body {
		font-size: 200%;
	}
	body > header {
		padding-left: 6vmin;

		padding-right: 6vmin;
		}

	.lang {
		display: none;
		}

	main > section:not(#welcome):target {
		left: 6vmin;
		right: 6vmin;
		padding: 12vmin 6vmin;
		}

	@keyframes earth {
		0% { opacity: 0; }
		30% { opacity: 1; }
		100% { opacity: 1; transform: translate3d(0,6vmin,0); }
		}

	main > section:not(#welcome):target:not(#welcome):target::after {
		bottom: -6vmin;
		height: 6vmin;
		}

	#welcome .op5 {
		overflow: hidden;
		display: block;
		width: 100%;
		height: 0;
		}

	body > footer > div {
		margin: 3vmin 0;
		}

	body > footer div:nth-child(1) a {
		margin: 0 2vmin;
		}

	body > footer > div:nth-child(2) {
		padding-top: 3vmin;
		}
}

@media
only screen and (max-width: 720px),
only screen and (max-device-width: 720px) {

	body > header {
		justify-content: center;
		}

	body > header nav {
		width: 100%;
		margin-top: 3vmin;
		justify-content: space-between;
		}
}

@media
only screen and (max-width: 420px),
only screen and (max-device-width: 420px) {

	body > header {
		padding: 3vmin 0;
		position: absolute;
		}

	body #welcome .btn {
		display: none;
		}

	body > header nav {
		display: none;
		}

	main > section:not(#welcome):target:not(#welcome) {
		display: block !important;
		position: relative !important;
		margin: 3vmin !important;
		left: auto !important;
		right: auto !important;
		padding-left: 6vmin !important;
		padding-right: 6vmin !important;
		color: #444 !important;
		border-radius: 0.5vmin !important;
		animation: none !important;
		}

	main > section:not(#welcome):target > .close {
		display: none;
		}

	main > section:not(#welcome):target h2:not(:first-child) {
		margin-top: 12vmin;
		}
}
