/*
 * General
*/

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	font-weight: 300;
	margin: 0;
	
	background-color: rgb(43,43,45); /* prevent color jump */
	background-image: url("bg.png");
}

* {
	border-color: #242a2e;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	background-color: transparent;
	color: inherit;
	text-decoration: underline;
	cursor: pointer;
}

p {
	display: block;
	margin: 0 0 1em 0;
}

/*
 * Header
*/

body > header > a {
	font-size: 28px;
	color: #3a3f43;
	padding: 18px 0 18px 0;
}

body > header > p {
	font-size: 18px;
	font-weight: 300;
	color: #a9a9a9;
}

/*
 * Main
*/

main {
	width: 45em;
	margin: 0 auto;
}

main > section {
	background-color: #dcdcdc;
}

.box-top {
	max-width: 36em;
	padding: 1.5em 2em 1em 2em;
	border: 1px solid #9ce1f5;
	background: #e6f8fc;
	border-radius: 3px;
	box-sizing: inherit;
	overflow-wrap: break-word;
}

.info-title {
    font-weight: 300;
    margin-bottom: 1em;
	font-size: 24px;
	margin: 0;
	padding: 0;
	line-height: 1.25em;
}

.box-middle {
	max-width: 36em;
	padding: 1.5em 2em 1em 2em;
	border: 1px solid #9ce1f5;
	background: #e6f8fc;
	border-radius: 3px;
	box-sizing: inherit;
	overflow-wrap: break-word;
}

.box-bottom {
	max-width: 36em;
	padding: 1.5em 2em 1em 2em;
	border: 1px solid #9ce1f5;
	background: #e6f8fc;
	border-radius: 3px;
	box-sizing: inherit;
	overflow-wrap: break-word;
}

button {
	z-index: 1;
	padding: 0.35em 1em 0.3166em 1em;
	border: 1px solid #0691b7;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), inset 0 -1px 0 rgba(0, 0, 0, 0.08);
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	border-radius: 3px;
	cursor: pointer;
}

#btn-vote {
	background: #08b5e5;
}

#btn-donate {
	background: #006600;
	border: 1px solid #003300;
}

.generate-box #buttons {
	display: inline;
}
