/*
 * General
*/

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: sans-serif;
	font-size: 100%;
	font-weight: 100;
	line-height: 1.4;	/* important for good lecture */
	color: rgb(61,70,77);
	}

body {
	margin: 0;
	background-color: rgb(43,43,45); /* prevent browser color jump */
	background-image: url("bg.png");
	}

body > aside,
body > header,
body > main,
body > footer {
	width: 45em;
	margin: 0 auto;
	}

a {
	color: orange; /* change later */
	font-weight: 300;
	}

a:hover,
a:focus {
	color: orange; /* change later */
	}

a:active {
	color: orange; /* change later */
	}

a:visited {
	color: orange; /* change later */
	}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 3vmin;
	font-weight: normal;
	}

h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 175%; }
h4 { font-size: 100%; }
h5 { font-size: 90%; }
h6 { font-size: 80%; }

p {
	display: block;
	padding: 0;
	margin: 0 0 1em 0;
	}

p:last-child {
	margin-bottom: 0 !important;	/* good stuff, trust me */
	}

/*
 * Header
*/

body > aside {
	margin: 1vmin auto;
	color: #dcdcdc;
	font-size: 80%;
	text-align: center;
	}

.price_up {
	color: green;
	}

.price_down {
	color: red;
	}

.highlight-red {
	color: red;
	}

.highlight-green {
	color: green;
	}

.price {
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	color: inherit;
	}

body > header {
	text-align: center;
	}

body > header > h1 a {
	display: inline-block;
	min-width: 128px;
	min-height: 128px;
	width: 24vmin;
	height: 24vmin;
	color: transparent;
	background-image: url("logo_test.png");
	background-size: 100%;
	}

body > header > h1 a:hover {
	color: transparent;
	}

body > header > nav {
	font-size: 100%;
	margin-bottom: 1em;
	}

/*
 * Main
*/

main > section {
	margin-bottom: 8vmin;
	padding: 1vmin;
	background-color: rgba(230,248,252,0.8);
	border-radius: 0.3vmin;
	}

main > section h2 {
	text-align: center;
	}

/*
 * Footer
*/

footer {
	display: flex;
	}

footer h6 {
	color: #dcdcdc;
	font-size: inherit;
	font-weight: inherit;
	}

footer > div {
	display: flex;
	margin-left: auto;
	}

footer > div a {
	overflow: hidden;
	text-indent: -9999px;
	max-width: 32px;
	max-height: 32px;
	background: 50% 50% no-repeat;
	}

footer > div a:nth-child(1) {
	background-image: url("fooReddit.svg");
	}

footer > div a:nth-child(2) {
	background-image: url("fooTwitter.svg");
	}

footer > div a:nth-child(3) {
	background-image: url("fooFacebook.svg");
	}

footer > div a:nth-child(4) {
	background-image: url("fooSlack.svg");
	}

footer > div a:nth-child(5) {
	background-image: url("fooGithub.svg");
	}
