<!DOCTYPE html>
<html>
<head>
	<title>Lumenaut</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stellar-sdk/0.8.0/stellar-sdk.js" integrity="sha384-ZLFqobQQtphXg0EkBNEhn6PWrsETu9TotgyqNGtuSC6j108/jAvBOUpCUysC9iMp" crossorigin="anonymous"></script>

	<!-- jQuery -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script> -->
	
	<link rel="stylesheet" href="static/style.css">
	<link rel="stylesheet" media="screen" href="static/clear-sans.css">
</head>
<body>

	
	<header>
		<a href="https://www.stellar.org/" class="header-stellar">Stellar</a>
		<a href="" class="header-subtitle">community inflation pool</a>
	</header>

	
	<main class="container">
		<div class="content-boxes">
			<div class="box-top">
				<h2 class="info-title">Lumenaut Community Pool</h2><br>
				<p>100% Fee Free</p>
				<p>By the community, for the community</p>
				
				<h2 class="info-title"> <!-- Total accounts voting for pool -->
					Accounts Contributing: <span id="accounts-contributing">{{ contributing_accounts }}</span>
				</h2>

				<h2 class="info-title"> <!-- Total votes for pool -->
					Total Votes for Pool: <span id="total-votes">{{ total_votes }}</span>
				</h2>
			</div>

			<!--
			<!-- Not sure if people will trust this... -/->
			<div class="box-bottom">
				Your Secret Key:<br>
				<input type="text" name="key" style="width: 85%" id="secret"><br><br>
				<button id="btn-vote" onclick="vote()">Join Pool</button>
				<a href="#" style="display: none" id="tra-link">Success! Link to transaction</a><br>
			</div>
			-->
		</div>
	</div>
	
	<footer>
		XLM ticker goes here!
	</footer>
	
	<!-- Custom JS -->
	<script type="text/javascript" src="static/index.js"></script>
</body>
</html>
